{% extends 'base.html.twig' %}

{% block body %}

<p>{{product.name}} </p>
<p>{{product.description}} </p>
<p>{{product.price}} </p>
<p>{{product.origin}} </p>

{% endblock %}



{% block title %}

{% endblock %}